:root { 
--light_blue_900_75:#0d619e75; 
--light_blue_200:#86d1fe; 
--red_200:#ff9292; 
--black_900_3f:#0000003f; 
--light_blue_900:#0d619e; 
--gray_900_a3:#202020a3; 
--black_900:#000000; 
--gray_500_01:#aaacad; 
--gray_500_02:#949494; 
--indigo_800_01:#233595; 
--gray_900_02:#121212; 
--gray_700:#696969; 
--gray_900_03:#202020; 
--gray_400:#c0c5c8; 
--gray_500:#959595; 
--blue_gray_100:#d0d0d0; 
--blue_gray_400:#8c8c8c; 
--blue_700:#2186d0; 
--gray_900:#242424; 
--gray_900_01:#282828; 
--gray_200:#e6e7e8; 
--gray_300:#e3e3e3; 
--gray_300_01:#e5e5e5; 
--blue_50:#e1e9ff; 
--gray_100:#eef2fc; 
--gray_100_01:#f4f4f4; 
--black_900_19:#00000019; 
--white_A700:#ffffff; 
--indigo_800:#223795; 
}